<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Ion list that contains the inputs to change the password -->
  <ion-list>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="oldPassword" placeholder="Insert old password" type="password"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newPassword" placeholder="Insert new password" type="password"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newPasswordRepeated" placeholder="Repeat new password" type="password"></ion-input>
      </ion-item>
    </ion-card>

  </ion-list>

  <!-- Ion list that contain the buttons to change the password -->
  <ion-list>

    <!-- the divs with the ngFor will be always one -->
    <div *ngFor="let user of users" class="change-item">
      <ion-button (click)="changePassword(user)">Change Password</ion-button>
    </div>

  </ion-list>

  <!-- Ion fab that close the modal -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
