ion-list {
    background-color: rgb(22, 22, 24);

    ion-card {
        --background: rgb(22, 22, 24);
        margin-bottom: 4%;
    }

    ion-button {
        margin-left: 3%;
        font-size: 14px;
    }
}
