<ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>
      To show icons on your accounts you need to use keywords as:

      <br><br>

      <ion-list>

        <ion-item>
          <ion-label>Instagram</ion-label> <ion-icon slot="end" name="logo-instagram" color="tertiary"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Facebook</ion-label> <ion-icon slot="end" name="logo-facebook" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Snapchat</ion-label> <ion-icon slot="end" name="logo-snapchat" color="warning"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Linkedin</ion-label> <ion-icon slot="end" name="logo-linkedin" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Apple</ion-label> <ion-icon slot="end" name="logo-apple" color="dark"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Github</ion-label> <ion-icon slot="end" name="logo-github" color="dark"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Dropbox</ion-label> <ion-icon slot="end" name="logo-dropbox" color="secondary"></ion-icon>
        </ion-item>
        
        <ion-item>
          <ion-label>Google</ion-label> <ion-icon slot="end" name="logo-google" color="dark"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Youtube</ion-label> <ion-icon slot="end" name="logo-youtube" color="danger"></ion-icon>
        </ion-item> 
        
        <ion-item>
          <ion-label>Pinterest</ion-label> <ion-icon slot="end" name="logo-pinterest" color="danger"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Twitter</ion-label> <ion-icon slot="end" name="logo-twitter" color="secondary"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Reddit</ion-label> <ion-icon slot="end" name="logo-reddit" color="danger"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Playstation</ion-label> <ion-icon slot="end" name="logo-playstation" color="primary"></ion-icon>
        </ion-item>
  
        <ion-item>
          <ion-label>Ionic</ion-label> <ion-icon slot="end" name="logo-ionic" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Microsoft</ion-label> <ion-icon slot="end" name="logo-windows" color="primary"></ion-icon>
        </ion-item> 
        
        <ion-item>
          <ion-label>Android</ion-label> <ion-icon slot="end" name="logo-android" color="success"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Mail</ion-label> <ion-icon slot="end" name="mail" color="danger"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Outlook</ion-label> <ion-icon slot="end" name="mail" color="secondary"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Cloud</ion-label> <ion-icon slot="end" name="cloud" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Amazon</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#FFCC33'}" [icon]="['fab', 'amazon']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Atlassian</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#0066FF'}" [icon]="['fab', 'atlassian']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Paypal</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '0099FF'}" [icon]="['fab', 'cc-paypal']"></fa-icon>
        </ion-item>
        
        <ion-item>
          <ion-label>Ebay</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#FFCC33'}" [icon]="['fab', 'ebay']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Waze</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'black'}" [icon]="['fab', 'waze']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Aws</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#FFCC33'}" [icon]="['fab', 'aws']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Mastercard</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'orange'}" [icon]="['fab', 'cc-mastercard']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>American express</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'skyblue'}" [icon]="['fab', 'cc-amex']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Visa</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '0066FF'}" [icon]="['fab', 'cc-visa']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Spotify</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'green'}" [icon]="['fab', 'spotify']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Netflix</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'red'}" [icon]="['fab', 'neos']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Docker</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '0099FF'}" [icon]="['fab', 'docker']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Flipboard</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'red'}" [icon]="['fab', 'flipboard']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Evernote</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#00FF00'}" [icon]="['fab', 'evernote']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Jira</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#0066FF'}" [icon]="['fab', 'jira']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Line</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#00FF00'}" [icon]="['fab', 'line']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Magento</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'orange'}" [icon]="['fab', 'magento']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Medium</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'black'}" [icon]="['fab', 'medium-m']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Patreon</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#FF3300'}" [icon]="['fab', 'patreon']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Quora</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'red'}" [icon]="['fab', 'quora']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Stackoverflow</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'orange'}" [icon]="['fab', 'stack-overflow']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Telegram</ion-label><fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#0099FF'}" [icon]="['fab', 'telegram-plane']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Tripadvisor</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#00FF99'}" [icon]="['fab', 'tripadvisor']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Credit card</ion-label> <ion-icon slot="end" name="card" color="dark"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Uber</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'black'}" [icon]="['fab', 'uber']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Vine</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#00FF99'}" [icon]="['fab', 'vine']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Vk</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#0066FF'}" [icon]="['fab', 'vk']"></fa-icon>
        </ion-item>
        
        <ion-item>
          <ion-label>Wix</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#0066FF'}" [icon]="['fab', 'wix']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Yammer</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#0066FF'}" [icon]="['fab', 'yammer']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Wordpress</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#00CCFF'}" [icon]="['fab', 'wordpress']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Flickr</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'blue'}" [icon]="['fab', 'flickr']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Steam</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'blue'}" [icon]="['fab', 'steam-symbol']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Slack</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'purple'}" [icon]="['fab', 'slack']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Vimeo</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': '#00FF99'}" [icon]="['fab', 'vimeo-v']"></fa-icon>
        </ion-item>

        <ion-item>
          <ion-label>Adobe</ion-label> <fa-icon slot="end" class="fa-icon-account-accounts" [styles]="{'color': 'red'}" [icon]="['fab', 'adobe']"></fa-icon>
        </ion-item>

      </ion-list>

      <br><br>

      <b>Examples</b>

      <br><br>
      
      Gmail first account, facebook first account, instagram account, Bitbucket password...
    </ion-card-content>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="menu-fab-button">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
  
    <ion-fab-list side="start">
      <ion-fab-button class="fab-list-button-accounts" routerLink="/accounts">
        <ion-icon class="icon-size" name="list"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fab-list-button-add" routerLink="/new-account">
        <ion-icon class="icon-size" name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fab-list-button-settings" routerLink="/settings">
        <ion-icon class="icon-size" name="settings"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>
  
</ion-content>
