.content {
    --background: rgb(22, 22, 24);
    text-align: center;

    .input-list {
        background-color: rgb(22, 22, 24);
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;

        .input-item {
            --background: rgb(46, 46, 48);
            color: white;

            .input{
                text-align: left;
                color: rgb(206, 206, 206);
            }
        }

        .save-button{
            margin-top: 10%;
            font-size: 32px;
        }
    }
}