<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="welcome" *ngIf="this.itemsLength == 1">
    <b>Insert your password</b>
  </div>

  <div class="welcome" *ngIf="!this.itemsLength">
    <b>Insert a new password</b>
  </div>

  <!-- If the itemsLenght == 1 it means that there is a user with a password and I will show the input and the button to check the password -->
  <ion-list *ngIf="this.itemsLength == 1">

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="passwordToLogin" placeholder="Insert password" type="password"></ion-input>
      </ion-item>
    </ion-card>  

    <div class="save-button" *ngFor="let user of users">
      <ion-button (click)="logIn(user.password)">Login</ion-button>
      <!--<ion-button (click)="delete(user.id)">del</ion-button>-->
    </div>

  </ion-list>

  <!-- If the itemsLenght == 0 it means that there isn't a user with a password and I will show the input and the button to create a new password -->
  <ion-list *ngIf="!this.itemsLength">

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newUser.password" placeholder="New password" type="password"></ion-input>
      </ion-item>
    </ion-card>
    
    <ion-card>
        <ion-item>
          <ion-input [(ngModel)]="passwordRepeated" placeholder="Repeat password" type="password"></ion-input>
        </ion-item>
      </ion-card>

    <div class="save">
      <ion-button (click)="save()">Sign In</ion-button>
    </div>
  
  </ion-list>

</ion-content>
